*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* start header */
header{
    background: #6f6f6f;
    width: 100%;
     padding: 15px;
    position: fixed;
    z-index: 999;
}
header .icon{  
    color: white; 
}
header .icon a{
    margin: 0 7px;
    color: white;
    font-size: 20px;
    
}
header .icon .face:hover,
header .icon .twitter:hover
{
    color: blue;
    transition: all 0.3s;
}
header .icon .red:hover{
    color: red;
    transition: all 0.3s;
}
header .email {
    color: white;
    float: right;
}                                         
@media (max-width: 800px){

    header .icon{
        text-align: center;
    }
}
/* End header */

/* start nav*/
nav{
   position: fixed;
    top: 60px;
    width: 100%;   
background: white;
    z-index: 1000;      
}
@media (max-width: 768px){
    nav{
        position: fixed;
        top: 80px;
    }
}

nav .container{
    position: relative;
   
}
nav .borders{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #6ae622;
}

nav  .ul #check{
    display: none;
}
nav  .ul .checkbtn
{
    display: none;
}
nav  .ul > ul{
    margin-top: 10px;
 
    
}
nav  .ul ul > li{
    display: inline-block;
    margin-left: 8px; 
    position: relative;
    
   
}
nav  .ul ul li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
      -webkit-transition: 0.3s;
    -mox-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;   
}
nav  .ul ul li:hover > a{
    color: #6ae622;
}
nav .ul ul li{
    position: relative;
         -webkit-transition: 0.3s;
    -mox-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}
nav .ul ul li ul{
    position: absolute;
    background:white;
    width: 200px;
   
}
nav .ul ul li ul  li{
display: block;
text-align: left;
margin-bottom: 13px;
position: relative; 
width: 100%;
}

nav .ul ul li ul  li:first-child{
    margin-top: 25px;
}
nav .ul ul li ul li i{
    float: right;
    margin-right: 10px;
}

nav .ul ul li ul .sub-menu ul{
    top: -5px;
    left: -100%;   
    padding: 0;
}
nav .ul ul li ul  .sub-menu ul li{
   text-align: left;
    width: 100%;
}
nav .ul ul li ul {
    
    top: 20px;
    display: none;
            -webkit-transition: 0.3s;
    -mox-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}
nav .ul ul li:hover > ul{
    
    display: block;
         -webkit-transition: 0.3s;
    -mox-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}

nav .ul ul li ul .sub-menu:hover ul{
display: block;
    
}
@media (max-width:992px){
    
       nav .ul > ul{
        margin-top: 15px;
        position: fixed;
        padding-bottom:20px;
        background: #6f6f6f; 
           height: 100vh;
        left: -100%;
        width: 300px;
        text-align: center;
           overflow-y: scroll;
    }

    nav .ul ul > li{
        display: block;
        margin-top: 40px;
        width: 100%;
        position: static;
    }
    nav .ul ul li > a{
        color: white;
    }
   
    nav .ul ul li ul{
        position: relative;
        background: none;
        width: 100%;
    }
    nav .ul ul li ul li{
        position: relative;
        
        text-align: center;
    }
    nav .ul ul li ul li i{
        float: none;
    }
nav .ul ul li ul .sub-menu ul{
    position: relative;
        background: none;
    top: 15px;
        width: 100%;
    left: 0;   
    padding: 0;
}
nav .ul ul li ul  .sub-menu ul li{

      position: relative;
        
        text-align: center;
}
   
    
    nav .ul .checkbtn{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    
    #check:checked ~ ul{
    left: 0;
    -webkit-transition: 0.3s;
    -mox-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    }
   
}

@media (max-width:576px){
 
    nav  .checkbtn{
        
    top: 10px;
        right: 15px;
        position: absolute;
        
    }
       nav .ul > ul{
       top: 125px;
        position: fixed;
        height: 100vh;
        background: #6f6f6f; 
        left: -100%;
        width: 250px;
        text-align: center;
    }
}


/* End nav */
/* start picture */

section{
    background-image: url(img.5.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    
    
}
 section .overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


section .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section .text h1{
 
    font-weight: bold;
color: white;
    font-size: 60px;
    
}
/* End picture*/
/* start job*/
.job{
    margin-top: 40px;
    margin-bottom: 40px;
}
.job p{
  color:  #a2a0a0;
}
.job .current{
    display: flex;
    border-bottom: 3px solid #6ae622;
}
.job .current i{
    color: #6ae622;
    font-size:40px;
    margin-top: -10px;
}

.job .accordion{
    padding: 20px;
}
.job .accordion .accordion-item{
    margin-bottom: 5px;
}
.job .accordion .accordion-item .item-header{
  background: #6ae622;
    padding: 15px;
    color: white;
    cursor: pointer;
    
}
.job .accordion .accordion-item .text{
    padding: 0 6px;
    max-height: 0;
    overflow: hidden;
}
.job .accordion .accordion-item .text ul li{
    color: #a2a0a0;
}
.job .accordion .accordion-item .item-header .ico{
    float: right;
}

.job .accordion .accordion-item.active .text{
    
    max-height: inherit;
   -webkit-transition: .3s;
    -moz-transition:.3s;
    -o-transition: .3s;
        transition: .3s;
}
.job  .round{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #a2a0a0;
    padding: 10px;
   
}

.job input{
    width: 100%;
}

.job .inp select{
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    padding-left: 30px;
    outline: none;
}
.job  input{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    outline: none;
}
.job .erea{
    margin-bottom: 20px;
}
.job input[placeholder]{
    
   padding-left: 30px;
}
.job .inp{
    position: relative;
}
.job i{
    position: absolute;
    top: 28px;
    margin-left: 10px;
}
.job select{
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 8px;
}
.job .text{
    margin-top: 10px;
}
.job .apply{
    padding: 30px 20px;
    background: #b2b4b8;
    margin-top: 15px;
}
.job .file{
    border-top: 1px solid #a2a0a0;
}
.job .noob{
    margin: 0;
    padding: 0;
}
/* End job */
/* start thank you */
.instruct{
    margin-top: 90px;
    background-image: url(img.4.jpg);
    height: 400px;
    position: relative;
   
}
.instruct .instructor{
    padding-top: 150px;
}
.instruct .instructor .parg{
  
    color: white;
}
/* End thank you */
/* start hearing*/
.hearing{
    margin-top: 100px;
}
.hearing .span{
    color: #6ae622;
    
}
.hearing h3{
    font-weight: bold;
}
.hearing .parg{
    color: #abaaa9;
    margin-bottom: 50px;     
}
.hearing .hear i{
    float: left;
   margin-top: 12px;
   color: #6ae622;
    font-size: 30px;    
}

.hearing .hear .text{
     margin-left: 40px;
  
}
.hearing .place{
    margin-bottom: 20px;
    
}
.hearing .place input{
    width: 80%;
    height: 45px;
    outline: none;
   
}
.hearing .place input[placeholder] {
    padding: 10px;
    font-size: 18px;
}
.hearing textarea{
    margin-bottom: 20px;
    outline: none;
    
}
.hearing textarea[placeholder]{
   padding-left: 10px;
    font-size: 15px;
}
.hearing a{
    color: white;
    background: #6ae622;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #6ae622;
   float: right;
    margin-right: 15px;
    -webkit-transition: 0.3s;
    -mox-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.hearing a:hover{
    color: #6ae622;
    background: white;
}
/* End hearing */
 /* start footer*/
footer{
    margin-top: 30px;
    background: #06101a;
}
footer .foot{
    margin-top: 40px;
}
footer .foot p{
    color: white;
    font-size: 20px;
}
footer .foot ul li{
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    color: #abaaa9;
}
footer .foot ul li:hover{
    color: #6ae622;
        -webkit-transition: 0.3s;
    -mox-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
footer .foot h6{
    color: #abaaa9;
}
footer .foot input{
    width: 80%;
    outline: none;
}
footer .foot input[placeholder]{
    padding: 10px;
    font-size: 17px;
    
}
footer .foot i{
    background: #6ae622;
    color: white;
    padding: 18px;
    cursor: pointer;
    margin-left: -2px;
}
/* End footer */